@font-face {
  font-family: "nafa vlina";
  src: url("NafaVlina.otf") format("opentype");
  font-display: swap;
}

html {
  font-family: sans-serif;
  min-height: 100%;
  font-variant: tabular-nums;
  font-size: 150%;
}

input {
  font-size: 100%;
}

:lang(art-x-ncs-v9-cenvos) {
  font-family: "nafa vlina";
  direction: rtl;
  font-kerning: normal;
}

.preview {
  font-size: 72pt;
}